@import url("https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,400;0,700;1,300 & family= Oswald:wght@300 & family= Roboto:ital,wght@ 1,300;1,400;1,700 & mostrar=intercambiar");
* {
  margin: 0;
  padding: 0;
}

.contenedor_fluid_inicio {
  padding-bottom: 50px;
}

.main_inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
}
.main_inicio .contenedor_inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main_inicio .contenedor_inicio .texto_inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px 0px 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 800px;
  height: 250px;
}
.main_inicio .contenedor_inicio .texto_inicio .logo {
  filter: contrast(110%) brightness(100%) saturate(180%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.footer_inicio {
  display: flex;
  align-items: center;
  padding-left: 350px;
  padding-top: 60px;
}

/* estilo Sobre Noe Moni*/
.contenedor_fluid_sobre {
  padding-bottom: 50px;
}

.main_sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.main_sobre .contenedor_texto_sobre {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  gap: 250px;
}
.main_sobre .contenedor_texto_sobre .text_sobre {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.main_sobre .contenedor_texto_sobre .text_sobre .foto__sobre {
  width: 600px;
  height: 400px;
}
.main_sobre .contenedor_texto_sobre .text_sobre .foto__sobre .img_redonda {
  width: 500px;
  height: 350px;
  border-radius: 50%;
  border: solid 0.5px white;
  filter: brightness(100%) contrast(100%) saturate(150%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.footer_sobre {
  display: flex;
  align-items: center;
  padding-left: 350px;
  padding-top: 60px;
}

/*Estilos Clases Regulares*/
/*
.conten_curs_reg_fluid1 {
    background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
    padding-top: 70px;
}
*/
.curs_reg {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.curs_reg .conten_curs_reg_fluid {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  padding-top: 50px;
}
.curs_reg .conten_curs_reg_fluid .curso_kids {
  width: 350px;
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
}
.curs_reg .conten_curs_reg_fluid .curso_kids .card-body {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.curs_reg .conten_curs_reg_fluid .curso_kids .card-body .curso_juniors {
  width: 350px;
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
}
.curs_reg .conten_curs_reg_fluid .curso_kids .card-body .curso_juniors .card-body {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.curs_reg {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.curs_reg .conten_curs_reg_fluid1 {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  padding-top: 70px;
}
.curs_reg .conten_curs_reg_fluid1 .curso_adolescents {
  width: 350px;
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
}
.curs_reg .conten_curs_reg_fluid1 .curso_adolescents .card-body {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.curs_reg .conten_curs_reg_fluid1 .curso_adolescents .card-body .curso_adults {
  width: 350px;
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
}
.curs_reg .conten_curs_reg_fluid1 .curso_adolescents .card-body .curso_adults .card-body {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.curso_juniors {
  width: 350px;
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
}

.curso_adolescents {
  width: 350px;
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
}

.curso_adults {
  width: 350px;
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
}

.footer_cursos_reg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

/*Estilos Galeria*/
.contenedor_carrusel {
  width: 650px;
}

.color_galer {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  color: #d92858;
  border-radius: 40%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.carrusel_galer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  filter: brightness(100%) contrast(200%) sepia(20%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.footer_galeria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main_contactos {
  background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.form {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5f7;
  background-image: #e5e5e5;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  margin: auto;
  padding: 4.5em;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.form_title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.form_paragraph {
  font-weight: 300px;
}

.form_link {
  font-weight: 400px;
  color: #d92858;
}

.form_container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form_group {
  position: relative;
  --color: #5757577e;
}

.form_input {
  width: 100%;
  background: none;
  color: rgba(87, 87, 87, 0.4941176471);
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: "Roboto", sans-serif;
}

.form_label {
  color: rgba(87, 87, 87, 0.4941176471);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form_input:not(:-moz-placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #d92858;
}

.form_input:not(:-ms-input-placeholder) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #d92858;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #d92858;
}

.form_submit {
  background: #d92858;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 300px;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.contenedor_form {
  display: flex;
  width: white;
  padding-top: 85px;
}

.footer_contactos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 850px) {
  * {
    margin: 0;
    padding: 0;
  }

  .contenedor_inicio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 1000px;
  }

  .texto_inicio {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 350px;
  }

  .main_inicio {
    display: flex;
    flex-direction: column-reverse;
    height: 1100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  }

  .logo {
    filter: contrast(110%) brightness(100%) saturate(180%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }

  .curs_reg {
    padding-left: 100px;
  }

  .main_cursos {
    padding-top: 50px;
  }

  .curso_kids {
    width: 400px;
    background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  }

  .curso_juniors {
    width: 400px;
    background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  }

  .curso_adolescents {
    width: 400px;
    background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  }

  .curso_adults {
    width: 400px;
    background-image: radial-gradient(#d92858 0.5px, transparent 0.5px), radial-gradient(#d92858 0.5px, #e5e5f7 0.5px);
  }
}/*# sourceMappingURL=style.css.map */